<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}
                Stockwatch
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="stripes"></div>

        <div class='container'>
            <nav class='montserrat-font'>
                <a class='home' href="/"> Stockwatch </a>

                <ul>

                    {% if not user_authenticated %}
                        <li><a href="{% url 'stocks:home' %}"> Stocks </a></li>
                        <li><a href="{% url 'subscriber:subscribe' %}"> User </a></li>
                    {% else %}
                        <li><a href="{% url 'stocks:list' %}"> Stocks </a></li>
                        <li><a href="{% url 'subscriber:home' %}"> {{username}} </a></li>
                    {% endif %}
                </ul>
            </nav>
            
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>