{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Stocks
{% endblock %}

{% block head %}
    <script src='{% static 'js/confirm_full_deletion.js' %}'></script>
{% endblock %}

{% block content %}

    <h1>List</h1>

    <ul class='stock-list'>
        {% for stock in stocks %}
            <li><article>
                <h2> 
                    <a href="{% url 'stocks:page' name=stock.name %}">
                        {{ stock.name }}
                    </a>
                </h2>
                <p> ({{ stock.lower_tunnel_bound }}, {{ stock.upper_tunnel_bound }})</p>
                <p> Updated every {{ stock.periodicity }} {% if stock.periodicity == 1 %} minute {% else %} minutes {% endif %}</p>
            </article></li>
        {% endfor %}
    </ul>
    
    <ul class='stock-buttons'>
        <li><form action="{% url 'stocks:new' %}">
            <button>New</button>
        </form></li>

        <li><form action="{% url 'stocks:full-delete' %}" onsubmit="confirmDeletion(event)">
            <button>Clear</button>
        </form></li>
    </ul>

{% endblock %}