{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Stocks
{% endblock %}

{% block script %}
    <script src='{% static 'js/confirm_full_deletion.js' %}'></script>
{% endblock %}

{% block content %}

    <h1>Stocks</h1>

    <form action="{% url 'stocks:new' %}">
        <button>Add</button>
    </form>

    {% for stock in stocks %}
        <article class='stocks'>
            <h2> 
                <a href="{% url 'stocks:page' name=stock.name %}">
                    {{ stock.name }}
                </a>
            </h2>
            <p> Upper tunnel bound: {{ stock.upper_tunnel_bound }} </p>
            <p> Lower tunnel bound: {{ stock.lower_tunnel_bound }} </p>
            <p> Check periodicity: {{ stock.periodicity }} </p>
        </article>
    {% endfor %}

    <form action="{% url 'stocks:full-delete' %}" onsubmit="confirmDeletion(event)">
        <button>Clear list</button>
    </form>

{% endblock %}