{% extends 'layout.html' %}

{% load static %}

{% block title %}
    {{ stock.name }}
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/.js' %}"></script>
{% endblock %}

{% block content %}
    <h1> {{ stock.name }} </h1>

    <div class='chart'>
        <canvas id="stockChart" ></canvas>
    </div>

    <script>
        var timestamps = [
            {% for update in update_history %}
                "{{ update.time|date:'H:i:s' }}",
            {% endfor %} 
        ];

        var prices = [
            {% for update in update_history %}
                {{ update.price|floatformat:2 }}{% if not forloop.last %},{% endif %}
            {% endfor %} 
        ];

        var upperTunnelBound = {{ stock.upper_tunnel_bound|floatformat:2 }};
        var lowerTunnelBound = {{ stock.lower_tunnel_bound|floatformat:2 }};
    </script>

    <script src="{% static 'js/chart_script.js' %}"></script>

    <ul class='stock-buttons'>
        <li><form action="{% url 'stocks:update' name=stock.name %}">
            <button>Edit</button>
        </form></li>

        <li><form action="{% url 'stocks:delete' name=stock.name%}" onsubmit="confirmDeletion(event)">
            <button>Remove</button>
        </form></li>
    </ul>



{% endblock %}
