{% extends 'layout.html' %}

{% block title %}
    User
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <h1> Hello, {{ user.username }}! </h1>
        <p>Need to register a new user? <a href="{% url 'user:register' %}">Register Here</a>.</p>

        <form class='logout' action="{% url 'user:logout' %}" method="post">
            {% csrf_token %}
            <button>Logout</button>
        </form>

    {% else %}

        <h1> Hello, User! </h1>
        <p>Need to register a new user? <a href="{% url 'user:register' %}">Register Here</a>.</p>
        <p>Already a user? <a href="{% url 'user:login' %}">Login Here</a>.</p>

    {% endif %}

{% endblock %}
